@charset "utf-8";

/*---------------------------------------------------------
*Author:             河边的飞刀
*Description:        朋友圈主题
*Website:            https://www.feidaoboke.com
---------------------------------------------------------*/
html {
    box-sizing: border-box;
    height: 100%;
}

@font-face {
    font-family: HarmonyOS_Sans_SC_Medium;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff') format('woff');
}

* {
    font-family: HarmonyOS_Sans_SC_Medium;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 200ms;
}

.clear::after {
    clear: both;
    display: table;
    content: " ";
}

/* 复用类 */
.g-left {
    display: inline;
    float: left;
}

.g-left-flex {
    display: inline-flex;
    float: left;
}

.g-right {
    display: inline;
    float: right;
}

.g-right-flex {
    display: inline-flex;
    float: right;
}

.g-ovf-hide {
    overflow: hidden;
}

.g-block-center {
    margin: 0 auto;
}

.g-inline-center {
    text-align: center;
}

.g-txt-hide {
    display: block;
    width: 100%;
    height: 100%;
    color: transparent;
    font-size: 0;
    text-indent: -100em;
    overflow: hidden;
}

.g-txt-ellipsis {
    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.g-user-select {
    -webkit-user-select: text;
    user-select: text;
}

.g-alias-defaultstatus {
    visibility: hidden;
}

.g-alias-highlighter {
    margin: 0 3px;
    padding: 0 2px;
    border-radius: 3px;
    font-weight: bold;
}

.g-alias-imgblock {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.g-alias-videoblock {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.g-user-select {
    user-select: text;
}

.g-clear-both::after {
    display: block;
    clear: both;
    content: '';
}

/* 开始 */
.header {
    position: relative;
    height: 300px;
    border-bottom: 1px solid #ccc;
}

.header .header-background {
    width: 100%;
    height: 100%;
    background-position-x: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand {
    position: absolute;
    right: 25px;
    /* border: 1px solid #fff; */
    bottom: -12px;
    width: calc(100% - 25px);
}

.brand .name {
    position: relative;
    width: calc(100% - 60px - 15px);
    height: 24px;
    margin: 12px 0 0 0;
    text-align: right;
}

.brand .name a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
}

.brand .avatar {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden;
}

.brand .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.header .subinfo {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: -42px;
    width: calc(100% - 92px);
    height: 22px;
    color: #a2a2a2;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
}

main.content {
    padding-top: 30px;
    width: 100%;
    background-color: #fff;
}

/* 置顶文章样式 */
.top-info {
    display: inline-block;
    color: #fff;
    background: #222222;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 2px;
    font-weight: 400;
    position: absolute;
    left: 18px;
    top: 16px;
}

.top-info i {
    margin-right: 4px;
}

article {
    padding: 15px 25px 0 25px;
    overflow: hidden;
}

article .post-avatar {
    width: 40px;
    height: 40px;
    margin: 0 14px 0 0;
}

article .post-main {
    width: calc(100% - 54px);
    border-bottom: 1px solid #e2e2e2;
}

article .post-main header.post-header {
    height: 22px;
}

article .post-main header.post-header .post-title {
    max-width: 50%;
    height: 22px;
    color: #576b95;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

article .post-main section.post-content {
    font-size: 16px;
    line-height: 24px;
    word-break: break-all;
    margin-top: -10px;
}

article .post-main section.post-content img {
    max-width: 100%;
}

article .post-main section.post-attachcontent {
    width: calc(100% * 2 / 3);
    height: 20px;
    padding: 0 0 6px;
    color: #576b95;
    font-size: 14px;
    line-height: 20px;
}

article .post-main footer.post-footer {
    height: 34px;
    padding: 0 0 14px;
    margin-bottom: 4px;
}

article .post-main footer.post-footer .post-info {
    margin-top: 5px;
    width: calc(100% - 92px);
    height: 20px;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 22px;
}

article .post-main footer.post-footer .post-fun {
    position: relative;
    width: 92px;
    line-height: 22px;
    text-align: center;
}

article .post-main footer.post-footer .post-fun .fun-ico {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #576b95;
    /* background: #f7f7f7 url('img/post.fun.ico.light.svg') 50% 50% no-repeat; */
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    transition: background-color 500ms;
}

article .post-main footer.post-footer .post-fun .fun-ico::before {
    display: inline;
    float: left;
    width: 18px;
    height: 22px;
    margin: 0 4px 0 2px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    content: '';
    background-image: url('img/post.aside.comment.light.svg')
}

article .post-main footer.post-footer .post-fun .fun-ico:hover {
    background-color: #e4e4e4;
}

article .post-main footer.post-footer .post-fun .fun-box {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: auto;
    height: 38px;
    margin: calc((24px + (7px * 2) - 20px) / 2 * -1) calc(30px + 5px) 0 0;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #4b5153;
    animation: funbox-anim 0.3s;
    animation-fill-mode: forwards;
}

article .post-main footer.post-footer .post-fun .fun-box .fun-btn {
    position: relative;
    height: 22px;
    margin: 0 20px;
    padding: 0 0 0 22px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

article .post-main footer.post-footer .post-fun .fun-box .fun-btn.allow {
    cursor: pointer;
}

article .post-main footer.post-footer .post-fun .fun-box .fun-btn:first-child::after {
    position: absolute;
    top: 0;
    right: -20px;
    display: block;
    width: 0;
    height: 22px;
    border-left: 1px solid #676f72;
    content: '';
}

article .post-main footer.post-footer .post-fun .fun-box .like {
    background-image: url('img/post.fun.btn.like.svg');
}

article .post-main footer.post-footer .post-fun .fun-box .comment {
    background-image: url('img/post.fun.btn.comment.svg');
}


article .post-main aside.post-aside.show {
    display: block;
    padding: 0 6px;
}

article .post-main aside.post-aside {
    display: none;
    margin: 0 0 14px;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow: hidden;
}

article .post-main aside.post-aside div.post-like::before {
    display: inline;
    float: left;
    width: 18px;
    height: 22px;
    margin: 0 8px 0 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    content: '';
    background-image: url('img/post.aside.like.light.svg')
}

article .post-main aside.post-aside div.post-like ul.like-userslist {
    flex-wrap: wrap;
    width: calc(100% - 18px - 8px);
}

article .post-main aside.post-aside div.post-like ul.like-userslist li.like-name {
    height: 22px;
    color: #576b95;
    font-size: 14px;
    line-height: 22px;
}

article .post-main aside.post-aside div.fun-area.show {
    display: block;
}

article .post-main aside.post-aside div.fun-area {
    padding: 8px 6px 4px 6px;
}

/* 用在文章单页single中，修改点赞样式前面的图片为评论图标 */
article .post-main aside.post-aside div.post-like-to-comment::before {
    display: inline;
    float: left;
    width: 18px;
    height: 22px;
    margin: 0 8px 0 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    content: '';
    background-image: url('img/post.aside.comment.light.svg')
}

article .post-main aside.post-aside div.post-like-to-comment .like-name {
    font-size: 15px;
    color: #576b95;
}

/* 首页分页 */
.pagination {
    padding: 20px 10px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    height: 28px;
    color: #576b95;
    background-color: #e2e2e2;
    transition: background-color 500ms;
}

.pagination .now-page {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    height: 28px;
    color: #fff;
    background-color: #07c160;
    transition: background-color 500ms;
}

.pagination a:hover {
    background-color: #ccc;
}

.now-page {
    color: #fff;
    background-color: #f6f6f6;
}

/* 控制面板 */
#divContorPanel .function_t::before {
    content: "\f085";
}

/* 搜索框 */
#divSearchPanel .function_c input[type=text] {
    font-size: 15px;
    width: 82%;
    padding: 2px;
}

#divSearchPanel .function_c input[type=submit] {
    font-size: 15px;
    transition: all 500ms;
}

#divSearchPanel .function_c input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #222222;
}

#divSearchPanel .function_t::before {
    content: "\f002";
}

/* 底部 */
.footer {
    min-height: 60px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

/* rollbar ======================================================================================================== */
.rollbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: none;
}

.rollbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 35px;
}

.rollbar li {
    position: relative;
    margin-top: 5px;
    text-align: center;
    opacity: .4;
    filter: alpha(opacity=40);
}

.rollbar a {
    position: relative;
    z-index: 2;
    display: block;
    height: 35px;
    border-radius: 2px;
    background-color: #444;
    color: #fff;
}

.rollbar a:hover {
    color: #fff;
}

.rollbar .fa {
    line-height: 32px;
    font-size: 26px;
}

.rollbar li:hover,
.rollbar li:hover h6 {
    opacity: .9;
    filter: alpha(opacity=90)
}

.rollbar li:hover h6 {
    right: 100%;
}

.rollbar h6 {
    position: absolute;
    z-index: 1;
    top: 60%;
    right: -15%;
    margin: -14px 10px 0 0;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    background-color: #444;
    color: #fff;
    width: 52px;
    border-radius: 2px;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.25s;
}

.rollbar h6 i {
    position: absolute;
    right: -4px;
    top: 50%;
    margin-top: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #444;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

/* comment */
.comments {
    margin: 0 0 15px;
    padding: 15px;
    color: #444;
}

.comment-list ul {
    padding: 4px 8px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 15px;
    margin: 6px 0 6px 0;
}

.msgname {
    color: #444;
}

.msgarticle {
    color: #666;
    font-size: 15px;
}

.msgtime {
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
    line-height: 16px;
}

.commentName {
    color: #576b95;
}

.commentTime {
    color: #888;
    font-size: 12px;
}

.revertcomment {
    float: right;
    margin-right: 2px;
    font-size: 12px;
}

.revertcomment a {
    color: #576b95;
}

.revertcomment a:hover {
    color: #222;
}

.comment-post {
    padding: 4px;
}

.comment-list .post p,
.comment-post .post p {
    margin: 0;
}

.comment-list .post p.posttop a,
.comment-post .post p.posttop a {
    font-size: 14px;
    color: #576b95;
}

.comment-list .post.reply-frm p.posttop {
    margin-top: 10px;
}

.comment-list .post form#frmSumbit>P>label,
.comment-post .post form#frmSumbit>P>label {
    font-size: 14px;
    color: #858688;
    display: block;
}

.comment-list .text,
.comment-post .text {
    width: 100%;
    font-size: 15px;
    padding: 4px;
    color: #535351;
    border-radius: 4px;
    border: 1px solid #07c160;
    outline: #07c160;
}

#txaArticle {
    font-size: 15px;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #07c160;
    outline: none;
    resize: none;
}

.comment-list input.button {
    transition: box-shadow 500ms;
    font-size: 15px;
    background-color: #07c160;
    color: #fff;
    border: 1px solid #07c160;
    border-radius: 4px;
    padding: 4px 16px;
    cursor: pointer;
}

.comment-post input.button {
    margin-top: 5px;
    transition: box-shadow 500ms;
    font-size: 15px;
    background-color: #07c160;
    color: #fff;
    border: 1px solid #07c160;
    border-radius: 4px;
    padding: 4px 16px;
    cursor: pointer;
}

.comment-list input.button:hover,
.comment-post input.button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #222222;
}


.commentpagebar {
    text-align: center;
    max-height: 30px;
    margin-top: 10px;
}

.commentpagebar a,
.now-page {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    height: 26px;
    color: #576b95;
    background-color: #e2e2e2;
    transition: background-color 500ms;
}

.commentpagebar a:hover {
    background-color: #ccc;
}

.commentpagebar .now-page {
    color: #fff;
    background-color: #07c160;
}

/* 响应式样式 */
@media screen and (min-width: 550px) {
    .g-width {
        width: 550px;
    }
}

@media screen and (max-width: 550px) {
    .g-width {
        width: 100%;
        min-width: 320px;
    }
}